
@{
    ViewBag.Title = "AddCustomer";
}

<h2>AddCustomer</h2>

<form method="get">
    <label>Customer ID :</label>
    <input type="text" name="id" value="" />
    <label>Customer Name</label>
    <input type="text" name="cname" value="" />
    <input type="submit" name="AddCustomer" value="Add" />
</form>